ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
}

ul li a {
  display: block;
  color: white;
  padding: 20px;
  text-decoration: none;
}

a {
  text-decoration: ;
  position: relative;
  overflow: hidden;
}

a::before,
a::after {
  content: "";
  position: absolute;
  border: 0px solid transparent;
  width: 0%;
  height: 0%;
  bottom: 0%;
  right: 0%;
}

a::before {
  border-bottom-width: 2px;
  border-left-width: 2px;
}

a::after {
  border-top-width: 2px;
  border-right-width: 2px;
}

a:hover {
  color: #000000;
}

a:hover::before,
a:hover::after {
  border-color: #000000;
  transition: border-color 0s, width 0.3s, height 0.3s;
  width: 100%;
  height: 100%;
}

a:hover::before {
  transition-delay: 0s, 0s, 0.3s;
}

a:hover::after {
  transition-delay: 0s, 0.3s, 0s;
}

body {
  background-color: #8989b3;
}

h1 {
  font-family: "Shadows Into Light", cursive;
  font-weight: 400;
  font-style: normal;
}

p {
  font-family: "Bebas Neue", sans-serif;
  font-weight: 400;
  font-style: normal;
}

li {
  font-family: "Story Script", sans-serif;
  font-weight: 400;
  font-style: normal;
}

